= '\n'

// for Facebook
meta(property='og:title', content='jQuery PhotoRoller Plugin')/
meta(property='og:type', content='website')/
meta(property='og:image', content='http://s.gravatar.com/avatar/0240c310cb30ce7e37a9b7c4c169a716?s=800')/
meta(property='og:url', content='photoroller.martinmetodiev.com')/
meta(property='og:description', content='A mouseover cycle-through photo gallery (iPhoto-like)')/
