= '\n'

// for Google
meta(name='keywords', content='photoroller,cycle-through,gallery,iPhoto,photos,rollover,mouseover,mousemove,jquery-plugin,ecosystem:jquery,jQuery,plugin')/
meta(name='description', content='A mouseover cycle-through photo gallery (iPhoto-like)')/
