= '\n'

// for Twitter
meta(name='twitter:card', content='summary')/
meta(name='twitter:title', content='jQuery PhotoRoller Plugin')/
meta(name='twitter:description', content='A mouseover cycle-through photo gallery (iPhoto-like)')/
meta(name='twitter:image', content='http://s.gravatar.com/avatar/0240c310cb30ce7e37a9b7c4c169a716?s=800')/
