= '\n'

meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')/
meta(http-equiv='Content-Language', content='en')/

= '\n'

meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')/

= '\n'

meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, user-scalable=0')/
