= '\n'

// for Robots
meta(name='robots', content='all,index,follow')/
meta(name='googlebot', content='index,follow,noodp')/
meta(name='msnbot', content='all,index,follow')/

= '\n'

meta(name='verify-v1', content='Google Webmaster tools')/
meta(name='verify-v1', content='Yahoo Site Explorer')/
meta(name='verify-v1', content='MSN Webmaster Center')/
