= '\n'

// Page styles
link(type='text/css', charset='utf-8', rel='stylesheet', media='screen', href=envPath + 'css/page.css')/

= '\n'

// Demo styles
link(type='text/css', charset='utf-8', rel='stylesheet', media='screen', href='assets/demo/css/demo.css')/

= '\n'

// jQuery PhotoRoller Plugin styles
link(type='text/css', charset='utf-8', rel='stylesheet', media='screen', href='dist/css/photoroller.min.css')/

= '\n\n'

|     <!--[if gte IE 9]><style type='text/css'>.gradient { filter: none; }</style><![endif]-->
