// Libraries (including jQuery)
script(type='text/javascript', charset='utf-8', src=envPath + 'js/libs.js')

= '\n'

// jQuery PhotoRoller Plugin
script(type='text/javascript', charset='utf-8', src='dist/js/jquery.photoroller.min.js')

= '\n'

// Page script
script(type='text/javascript', charset='utf-8', src=envPath + 'js/page.js')

= '\n'

// Demo script
script(type='text/javascript', charset='utf-8', src='assets/demo/js/demo.js')
