doctype html

= '\n\n'

| <!--[if IE]><![endif]-->
| <!--[if IE 9]><![endif]-->

= '\n'

html(lang='en')
  head
    title jQuery PhotoRoller Plugin

    = '\n\n'

    |     <!--[if lte IE 8]><meta http-equiv="refresh" content="0;URL='https://github.com/martinmethod/photoroller'" /><![endif]-->

    include includes/head/meta

    include includes/head/social/google
    include includes/head/social/facebook
    include includes/head/social/twitter

    include includes/head/robots

    include includes/head/favicons

    include includes/head/fonts

    include includes/head/styles

  = '\n'

  body
    include includes/structure/header

    = '\n'

    include includes/structure/section

    = '\n'

    include includes/structure/footer

    = '\n'

    include includes/foot/scripts

    = '\n'

    include includes/foot/analytics
