section(class='page-section')
  div(class='wrp wrp-main pad-main')
    article(class='cf')
      div(class='col col-description')

      div(class='col col-demo')
        div(class='demo-holder')
          h2 Demo

          div(class='non-mobile')
            div(class='content')
              include ../content/demo

      div(class='col col-docs')
